{%  load staticfiles %}
<footer class="py-5 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white"> <img src={%  static 'img/ibdm_logo_vertical.png' %} style="max-width: 150px"> Copyright &copy; Your Website 2019</p>
	</div>
</footer>
