<!DOCTYPE html>
<html lang="en">
<head>
	<LINK rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IBDM toolkit</title>
</head>
<body>
	{% include "./navbar.html" %}
	<br>
	<div class="container-fluid" >
		<header class="jumbotron my-4">
			<h2 style="text-align:center" >Your message has been sent</h2>
		</header>
    </div>
    <br>
    <br>
    <br>
    <br>
	{% include "./footer.html" %}
</body>
</html>