<!DOCTYPE html>
<html lang="en">
<head>
	<LINK rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css"/>
	<link href="../../static/css/simple-sidebar.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HH-Mitosig</title>
</head>
<body>
    {% include "./navbar.html" %}
	<div class="d-flex" id="wrapper">
		{% include "./sidebar.html" %}
		<div class="container-fluid">
			<header class="jumbotron my-4">
				<h1 style="text-align:center" >Welcome to HH-Motif (temporary name)</h1>
			</header>
			
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="card h-100">
					<div class="card-body">
						<a href="{% url 'HHmitosig:mTP_page' %}">
							<h4 style="text-align:center" class="card-title">mTP mode</h4>
						</a>
						<p style="text-align:center" class="card-text">Desc</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="card h-100">
					<div class="card-body">
						<a href="{% url 'HHmitosig:nTP_page' %}">
							<h4 style="text-align:center" class="card-title">nTP mode</h4>
						</a>
						<p style="text-align:center" class="card-text">Desc</p>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	{% include "./footer.html" %}

</body>
</html>
