<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
	<LINK rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
	<link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Output page</title>
</head>


    {% include "./navbar.html" %}
	<div class="d-flex" id="wrapper">
        {% include "./sidebar.html" %}
		<div class="container-fluid">
			<header class="jumbotron my-4">
				<h1 style="text-align:center">Result page for {{ run.input_seq }}</h1>
            </header>

	    <div class="container-fluid">
			<div class="container-fluid">
				<div class="card h-100">
					<div class="card-body">
						<p> {{ run.email }}
                        <br>
                            {{ run.input_date }}
                            <br>
                        </p>
                    </div>
                </div>
                <div class="card h-100">
                    <div class="card-body">
                        {% include run.output %}
					</div>
				</div>
			</div>
		</div>
        </div>
	</div>

    {% include "./footer.html" %}

</body>
</html>
