
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"> HH-Motif </div>
  <div class="list-group list-group-flush">
	<a href="{% url 'HHmitosig:HHmitosig_home' %}" class="list-group-item list-group-item-action bg-light">Home</a>
	<a href="{% url 'HHmitosig:mTP_page' %}" class="list-group-item list-group-item-action bg-light">mTP mode</a>
	<a href="{% url 'HHmitosig:nTP_page' %}" class="list-group-item list-group-item-action bg-light">nTP mode</a>
	<a href="#" class="list-group-item list-group-item-action bg-light">About HH-Motif</a>
  </div>
</div>
