<!DOCTYPE html>
<html lang="en">
<head>
    {%  load staticfiles %}
	<LINK rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
	<link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Result page</title>

</head>




<body>
    {% include "./navbar.html" %}
	<div class="d-flex" id="wrapper">
        {% include "./sidebar.html" %}
        <div>
            <img style="text-align:center" src="{% static "img/hold_my_beer.jpg" %}">

        </div>
    </div>
{% include "./footer.html" %}
</body>
</html>
